{% extends "base.html" %}
{% block page_content %}
<div id="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-8">
                <h1>{{ post.title }}</h1>
                <small>
                    {{ post.created_on.date }} |&nbsp;
                    Categories:&nbsp;
                    {% for category in post.categories.all %}
                    <a href="{% url 'blog_category' category.name %}">
                        {{ category.name }}
                    </a>&nbsp;
                    {% endfor %}
                </small>
                <p>{{ post.body | safe | linebreaks }}</p>
                <h3>Leave a comment:</h3>
                <form action="/blog/{{ post.pk }}/" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.author }}
                    </div>
                    <div class="form-group">
                        {{ form.body }}
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-title">
                        <h1>Previous Blog Posts</h1>
                    </div>
                    <div class="card-body">
    
                        {% for post in posts %}
                            <p><a href="{% url 'blog_detail' post.pk%}">{{ post.title }}</a></p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h3>Comments:</h3>
    {% for comment in comments %}
        <p>
            On {{comment.created_on.date }}&nbsp;
            <b>{{ comment.author }}</b> wrote:
        </p>
        <p>{{ comment.body }}</p>
        <hr>
    {% endfor %}

{% endblock %}
</div>