{% extends "base.html" %}
{% load static %}
{% block page_content %}


  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>About Me</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>About Me</li>
          </ol>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= About Section ======= -->
    <section class="about" data-aos="fade-up">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <img src="{% static "assets/img/about/family.jpg" %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <h3>Details about me</h3>
            <p class="fst-italic">
              Thank you for visiting my portfolio.  I know you working through so many applications trying to find the right fit for your organization.  
              I really appreciate that you've made it this far getting to know me! I know that your time is valuable so here are some interesting details about me!
            </p>
            <ul>
              <li><i class="bi bi-check2-circle"></i> I am a father to three boys.  They are my best friends that will never let me sleep in on a Saturday.  </li>
              <li><i class="bi bi-check2-circle"></i> Problems are presented to grow people and organizations. The success of both is determined by the quality of their decisions. </li>
              <li><i class="bi bi-check2-circle"></i> My passion lies in network infrastructure with a focus in cloud first business transformations at scale. </li>
              <li><i class="bi bi-check2-circle"></i> In my free time I ride my bicycle.  I recently bought a stationary bike which is really making winter cycling a lot more enjoyable. </li>
            </ul>
            <p>
              My career started as employee one at a start up cellular expense management company.  As the organization transformed and grew, so did my responsibility.  I moved throughout my organization
              in roles and positions that were needed to achieve the next phase of growth.  I have built, coached, and managed large scale operational teams to deliver service excellence.  I 
              have shifted my focus to drive product innovation.  I am ready to finally focus on my passion and shift to AWS cloud infrastructure management.  
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section class="facts section-bg" data-aos="fade-up">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="{{ years_of_experience }}" data-purecounter-duration="1" class="purecounter"></span>
            <p>Years of Experience</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="{{ projects_worked }}" data-purecounter-duration="1" class="purecounter"></span>
            <p>Personal Projects Worked</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
            <p>Hours Of Support</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
            <p>Hard Workers</p>
          </div>

        </div>

      </div>
    </section><!-- End Facts Section -->

    <!-- ======= Our Skills Section ======= -->
    <section class="skills" data-aos="fade-up">
      <div class="container">

        <div class="section-title">
          <h2>Languages Used</h2>
          <p>Below you will see a quick breakdown of the languages I use to commit code to Github.  The percentages are based the total bytes of code pushed to Github compared to bytes pushed for the language listed.</p>
        </div>

        <div class="skills-content">
          {% for key, value in languages.items %}
            <div class="progress">
              <div class="progress-bar bg-info" role="progressbar" aria-valuenow="{{value}}" aria-valuemin="0" aria-valuemax="100">
                <span class="skill">{{key}} <i class="val">{{value}}%</i></span>
              </div>
            </div>
          {% endfor %}
        </div>

      </div>
    </section><!-- End Our Skills Section -->

        <!-- ======= Facts Section ======= -->
        <section class="facts section-bg" data-aos="fade-up">
          <div class="container">
    
            <div class="row counters">
    
              <div class="col-12 text-center">
                <h2>Looking to learn more? </h2>
              </br>
                <h2>View my <a href="{% static "assets/img/about/2022 Matt Williamson Resume_SA.pdf" %}" download>resume</a></h2>
              </div>
    
            </div>
    
          </div>
        </section><!-- End Facts Section -->

    <!-- ======= Our Skills Section ======= -->
    <section class="projects" data-aos="fade-up">
      <div class="container">

        <div class="section-title">
          <h2>Still with me? Great, please check out some projects I've worked on!</h2>
          <p>This list is a combination of personal and professional projects that align to the work I find most interesting. </p>
          
          <a href="{% url 'aws_connect' %}" >AWS Connect</a>
          
        </div>

  </main><!-- End #main -->
{% endblock %}