{% extends "base.html" %}
{% load static %}

{% block page_content %}
<div id="main">
    <div class="container">
        <h1>AWS Connect Workflow Automation</h1>
        <div class="row">
            <div class="col-md-12">
                <h2>About the project</h2>
                <p>vMOX was entering the mobile helpdesk space in the spring of 2020.  
                    We had identified strong client interest in both our current client base as an upsell opportunity and new fully qualified leads. 
                    The organization is extremly lean and planned to bring on two dedicated helpdesk agents to keep our customer's demands.  
                    For the offering to work, we had to build a solution that enabled minimal handling times, reduced call volume, and improved caller satisfaction. 
                
                    I owned the solutioning process of ideation to release.  We trialed numerous platforms to meet our business needs.  Since the organization is hosted in AWS
                    the fit made logical sense as we could leverage our existing infrastructure and microservices to achieve success. 
                </p>
                <p>
                    AWS provided most of the heavy lifting for us.  We had to figure out how to get data known within our database into the AWS Connect client that would reside in our internal application. 
                    The goal here was to collect as much information as possible about the caller and present that back to our helpdesk agents before they picked up the phone to help our customer end user. 
                </p>
                <h2>Project Requirements</h2>
                <ul>
                    <li>Deploy AWS connect as contact center solution.</li>	
                    <li>Integrate Lambda functions for dynamic call flows.</li>	
                    <li>Set up metric reporting and visibility. This is contained within AWS.</li>	
                    <li>Assign agents to each queue allowing failover between queue.  Ensure documentation is updated during onboarding.</li>  	
                    <li>Present all identifiable information to agent prior to call presentment. </li>
                </ul>
                <br>
                <h5>Technology used:</h5>
                <ul>
                    <li>AWS Lambda</li>
                    <li>Python</li>
                    <li>RESTful API</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}