{% extends "base.html" %}
{% load static %}

{% block page_content %}
    <div id="main">
        <!-- ======= header section ======= -->
        <section class="breadcrumbs">
            <div class="container">
    
            <div class="d-flex justify-content-between align-items-center">
                <h2>{{ project.title }}</h2>
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li>Projects</li>
                    <li>{{ project.title }}</li>
                </ol>
            </div>
    
            </div>
        </section><!-- Header Section -->
        <section class="portfolio">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>About the project</h2>
                        <p>
                            {{ project.about | safe}} 
                        </p>
                        <div class="row">
                            <div class="col-6">
                                <h2>My Role</h2>
                                {{ project.my_role | safe}}
                            </div>
                            <div class="col-6">
                                <h2>Project Success Metrics</h2>
                                {{ project.metrics | safe }}
                            </div>  
                        </div>
                        </br>
                        <h2>Process</h2>
                        <div class="row">
                            {{ project.process | safe}}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}